@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --clr-gray-100: #F3F6FF;
  --clr-gray-200: #EFF2FC;
  --clr-gray-300: #E2E5F1;
  --clr-gray-400: #D4D7E5;
  --clr-gray-500: #B4B7C9;
  --clr-gray-600: #9397AD;
  --clr-gray-700: #565973;
  --clr-gray-800: #33354D;
  --clr-gray-900: #0B0F19;

  --clr-primary: #6366F1;

  --clr-bg-100: #f8f9fa;
  --clr-bg-200: #ffffff;
  --section-spacing: 2rem;


  --clr-bg: #fff;
  --clr-bg-100: var(--clr-gray-100);
  --clr-text-body: var(--clr-gray-700);
  --clr-text-heading: var(--clr-gray-900);
  --clr-navigation-text: var(--clr-gray-800);
  --clr-market-btn: var(--clr-gray-900);
  --clr-logo-bg: var(--clr-gray-100);

  --white-to-gray: #fff;
  --clr-social-facebook: #3b5998;
  --clr-social-twitter: #00acee;
  --clr-social-linkedin: #0e76a8;

  --br-m: 0.375em;
  --br-l: 0.5em;
  --section-spacing: 4rem;
  --section-spacing: 4rem;
}


.dark {
    --clr-bg: var(--clr-gray-900);
    --clr-bg-100: rgba(255, 255, 255, 0.04);
    --clr-text-body: rgba(255, 255, 255, 0.7);
    --clr-text-heading: #ffffff;
    --clr-navigation-text: #ffffff;
    --clr-logo-bg: rgba(99, 101, 241, 0.08);
    --white-to-gray: rgba(255, 255, 255, 0.5);
    --clr-market-btn: var(--clr-gray-100);
    color-scheme: dark;

    color-scheme: dark; /* Ställer in att sidan ska vara i mörkt läge */

    .show-light {display: none;}
    .show-dark{display: block;}
}

.show-light { display: block; }
.show-dark { display: none;}

*, *::after, *::before {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

html {
  color-scheme: light;
}

body {
    font-family: "Manrope", sans-serif;
    line-height: 1.8;
    --background-color: var(--clr-bg);
    color: var(--clr-text-body);
}

a {
  color: var(--clr-text-heading); /* Länkar färg */
  text-decoration: none;
}

a:hover {
  color: var(--clr-primary); /* Färg på länkar vid hover */
}

.btn-primary {
  background-color: var(--clr-primary);
  color: #fff; /* Text på knapp */
}

.btn-primary:hover {
  background-color: var(--clr-primary-dark); /* Mörkare bakgrund på hover */
}

img {
  display: block;
  max-width: 100%;
}


input, button, textarea, select {
  font: inherit;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  color: var(--clr-text-heading);
  font-weight: 800;
  line-height: 1.3;
}

o1, u1 {
  list-style: none;
}


/* UTILITY CLASSES */
.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;

  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  @media (min-width: 1400px) {
    max-width: 1320px;
  }
}


.space-y-1 > * + * {
  margin-top: 1rem;
}
.space-y-2 > * + * {
  margin-top: 2rem;
}
.space-y-3 > * + * {
  margin-top: 3rem;
}
.space-y-4 > * + * {
  margin-top: 4rem;
}

.sr-only {
  position: absolute;
  width: 1px; 
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}

.h1 {
  font-size: 2.5rem;
  color: var(--clr-text-heading);
  font-weight: 800;
}

.h4 {
  font-size: 1.5rem;
  color: var(--clr-text-heading);
  font-weight: 800;
}


.h5{
  font-size: 1.25rem;
  color: var(--clr-text-heading);
  font-weight: 800;
}

.d4 {
  font-size: 3.5rem;
  color: var(--clr-text-heading);
  font-weight: 800;
}

.text-lg {
  font-size: 1.125rem;
}


.btn {
  font-size: .9rem;
  padding: .6em 1.8em;
  display: flex;
  gap: .5rem;
  text-wrap: nowrap;
  border-radius: var(--br-m);
  text-decoration: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  img {
    height: 1.5em;
  }
}


.btn-round {
  display: flex;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;

  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}


.btn-white {
  background-color: var(--white-to-gray);
  color: var(--clr-text-navigation);

  box-shadow: 0 0 10px #00000022, 0 5px 5px #0000001f;

  &:hover,
  &:focus-visible {
    background-color: hs1(from var(--white-to-gray) h s calc(1 - 10)); 
  }
}


.btn-primary {
  background-color: var(--clr-primary);
  color: #fff;

  transition: background-color 150ms;

  &:hover,
  &:focus-visible {
      background-color: hsl(from var(--clr-primary) h s calc(1 - 10));
  }
}


.toggle {
  --_w: 60px;
  --_h: 30px;

  position: relative;
  flex-shrink: 0;
  width: var(--_w);
  height: var(--_h);
  display: inline-block;

  input[type="checkbox"]{
    width: 0;
    height: 0;
    opacity: 0;
  }

  .slider {
    position: absolute;
    inset: 0;
    background-color: var(--clr-gray-600);
    border-radius: 100vw;

    transition: all 250ms;
  }

  .slider::after {
    position: absolute;
    top: 2px;
    left: 2px;
    content: '';
    height: calc(100% - 4px);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #fff;
    transition: all 250ms;
  }

  input[type="checkbox"]:checked ~ .slider::after{
    left: calc(100% - var(--_h) + 2px);
  }

  input[type="checkbox"]:checked ~ .slider {
    background-color: var(--clr-primary);
  }
}



/* NAVBAR START */
.main-nav {
  padding-block: 1rem;
  position: absolute;
  width: 100%;
  top: 0;


  .skip-link{
      display: inline-block;
      padding: 1rem;
      background-color: var(--clr-bg);
      border: 1px solid var(--clr-primary);
      border-radius: 0 1rem 1rem 0;
      position: absolute;
      left: -100vw;
      top: 10rem;
      transition: 300ms;

      &:focus{
          left: 0;
      }
  }

  .container{
      position: relative;
  }
  .container,
  .main-menu{
      display: flex;
      align-items: center;
  }

  
  .darkmode-toggle {
      position: absolute;
      right: 12rem;
      display: flex;
      align-items: center;
      gap: 1rem;
  }

  p {
      color: var(--clr-text-navigation);
      font-weight: 600;
  }

  .menu-btn {
      padding-right: 0;
      display: none;
      background-color: transparent;
      border: 0;
      /* width: 50px; */
      /* aspect-ratio: 1; */
      padding: .5rem;
      cursor: pointer;
      position: absolute;
      right: 1rem;
      z-index: 9999;
  }

  .main-menu{
      width: 100%;
      justify-content: space-between;
      margin-left: 3rem;
  }

  .nav-link {
      color: var(--clr-navigation-text);
      text-decoration: none;
      font-weight:600;

      &:hover,
      &:focus-visible {
          color: var(--clr-primary);
      }
  }


  @media(max-width: 992px){
      .menu-btn{
          display: block;
      }
      .container{
          position: static;
      }
      .darkmode-toggle {
          right: 8rem;
      }
      .main-menu{
          position: absolute;
          top:100%;
          right: 0;
          flex-direction: column-reverse;
          gap: 1rem;
          padding-block: 2rem;
          background-color: var(--clr-bg);
          z-index: 1000;
          
          box-shadow: 0 5px 5px #00000028;
      }
      .nav-link {
          display: inline-block;
          padding: 1rem;
      }

      .hide{
          display: none;
      }
      .menu-btn[aria-expanded="true"] ~ .main-menu {
          animation: openMenu 250ms forwards
      }
      .menu-btn[aria-expanded="false"] ~ .main-menu {
          animation: closeMenu 250ms forwards
      }

  }



  @media (max-width: 540px){
      .darkmode-toggle {
          right: 4rem;
      }
      .darkmode-toggle p{
          position: absolute;
          width: 1px;
          height: 1px;
          padding: 0;
          margin: -1px;
          overflow: hidden;
          clip: rect(0, 0, 0, 0);
          white-space: nowrap;
          border-width: 0;

      }
  }

}
/* NAVBAR END */

/* SHOWCASE START */
.showcase {
  padding-top: 6rem;
  text-align: center;
  background-color: var(--clr-bg);
  background-image: linear-gradient(to top, rgba(99, 101, 241, 0.1), rgba(219, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
  

  .content{
      padding-bottom: 3rem;
  }
  .market-btns{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;

  }
  .store-btn {
      background-color: var(--clr-market-btn);
      width: 100%;
      padding: .5em 1em;
      border-radius: var(--br-l);

      img{
          height: 3em;
      }
  }
  .more{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
  }

  .phone-img-container{
      display: none;
  }
  


  @media (min-width: 768px) {
      .container{
          position: relative;
      }
      .content{
          width: 45%;
          text-align: start;
          margin-top: 6rem;
      }

      .market-btns{
          flex-direction: row;
      }
      
      .store-btn{
          padding: 0 1em;
      }
      .more{
          justify-content: flex-start;
      }
      
      .phone-img-container{
          display: block;
          width: 60%;
          position: absolute;
          bottom: 0;
          right: 0;
      }
  }

  @media (min-width: 992px) {
      .store-btn{
          padding: .3em 2em;
      }

      .more{
          margin-top: 11rem;
      }
  }
  @media (min-width: 1200px) {
      padding-top: 10rem;
      text-align: start;

      h1 {
          width: 50%;
      }
      .content{
          width: 40%;
          margin-top: 2rem;
      }
      
      .more{
          margin-top: 13rem;
      }
  }

  @media (min-width: 1400px) {
      padding-top: 10rem;
      .more{
          margin-top: 15rem;
      }
  }
}
/* SHOWCASE END */

/* LOGOS START */
.logos {
  /* display: none; */
  padding-block: var(--section-spacing);

  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .logo-card {
    width: 100%;
    border: 1px solid var(--clr-gray-300);
    padding: 2rem;
    border-radius: var(--br-1);
    display: grid;
    place-items: center;
  }

  @media (min-width: 768px) {
    display: block;

    .logo-card:nth-last-of-type(-n+2) {
      display: none;
    }
  }

  @media (min-width: 1200px) {
    .container {
      grid-template-columns: repeat(6, 1fr);
    }

    .logo-card:nth-last-of-type(-n+2) {
      display: block;
    }
  }
}
/* LOGOS END */

/* FEATURES START */
.features {
  text-align: center;
  padding-block: var(--section-spacing);

  .iphone {
      display: none;
  }

  .features-grid {
      display: grid;
      gap: 2rem;   
      margin-top: 4rem; 
  }
  .feature-card {
      display: flex;
      text-align: start;
      gap: 1rem;
      align-items: flex-start;

  }

  .icon-container {
      background-color: var(--clr-logo-bg);
      padding: 1rem;
      border-radius: var(--br-l);
      flex-shrink: 0;
  }

  @media (min-width: 768px) {
      .features-grid{
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem 3rem;
      }
  }

  @media (min-width: 1200px) {
      text-align: start;
      .container {
          display: flex;
          gap: 4rem;
      }
      .iphone {
          display: block;

      }
      .text{
          flex: 1;
      }
  }
  @media (min-width: 1400px) {
      text-align: start;
      .container {
          gap: 10rem;
      }
      
  }


}
/* FEATURES END */

/* CAROUSEL START */
.carousel-section {
  padding-block: var(--section-spacing);
  background-color: var(--clr-bg-100);
  text-align: center;


  .carousel {
    display: flex;
    justify-content: space-evenly;
  }

.text {
  max-width: 70ch;
  margin-inline: auto;
}
  @media (max-width: 768px) {
    .carousel-item:first-of-type,
    .carousel-item:last-of-type {
      display: none;
    }
  }
}
/* CAROUSEL END */


/* Antimations */

@keyframes openMenu {
  0% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes closeMenu {
  0%{
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

/* Spinner Styles */
.spinner {
  border: 4px solid var(--clr-gray-300);  /* Light gray border */
  border-top: 4px solid var(--clr-primary); /* Primary color */
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
  margin: auto; /* Center the spinner */
}

/* Spinner animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Loading container styling */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}

.dropdown-toggle {
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(180deg); /* Rotera ikonen när den är öppen */
}

.status-message {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  transition: opacity 0.3s ease; /* Mjuk övergång för opacity */
  opacity: 0;  /* Startar med osynlig */
}

/* Gör meddelandet synligt när det visas */
.status-message.show {
  opacity: 1;
}

/* Framgångsmeddelande - Grön bakgrund och text */
.status-message.success {
  background-color: #d4edda; /* Grön bakgrund */
  color: #155724;            /* Mörkgrön text */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Lätt skugga för att få det att poppa */
}

/* Felmeddelande - Röd bakgrund och text */
.status-message.error {
  background-color: #f8d7da; /* Röd bakgrund */
  color: #721c24;             /* Mörkröd text */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Lätt skugga för att få det att poppa */
}

.socialmedia {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.socialmedia a {
  font-size: 24px;
  color: #000; /* Standard färg */
  transition: color 0.3s ease;
}

.socialmedia a:hover {
  color: #0073e6; /* Färgen ändras vid hover */
}

.social-icon.facebook {
  color: #3b5998; /* Facebook-blå */
}

.social-icon.twitter {
  color: #00acee; /* Twitter-blå */
}

.social-icon.linkedin {
  color: #0e76a8; /* LinkedIn-blå */
}

section.make-money {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: var(--clr-bg);

  .make-money-info h1 {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }
    
    .make-money-info div {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }
    
    .make-money-info img {
      vertical-align: middle;
    }
    
    .make-money-info span {
      font-size: 1rem;
      color: #666;
      margin-left: 10px;
    }

    .make-money-img img {
      max-width: 100%;
      height: auto;
    }
}

 /* Style for the button */
 button.learn-more {
  background-color: var(--clr-primary);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-top: 20px;
}

.learn-more:hover {
  background-color: hsl(from var(--clr-primary) h s calc(1 - 10));
}

button.learn-more img {
  margin-left: 10px;
}


/* Receive section */
.recieve-container {
display: flex;
justify-content: space-between;
align-items: center;
padding: 50px;
background-color: var(--clr-bg);
}

.recieve-info-container {
  display: flex;
}
.recieve-info-inner {
display: flex;
flex-direction: column;
}


.recieve-info h2 {
margin-bottom: 20px;
font-size: 2.1rem;
}

.recieve-info p {
margin-bottom: 10px;
}


.recieve-info .learn-more img {
margin-left: 10px;
}


/* Testimonials Section */
.testimonials {
  text-align: left;
  padding: 44px;
  display: flex;
  background-color: var(--clr-bg-100);
}

.testimonial-item {
  margin: 20px 24px;
  padding: 20px;
  background-color: var(--clr-bg);
  border-radius: 8px;
  display: inline-block;
  width: 416px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
.testimonial-item-quotes{
  position: absolute;
  left: 24px;
  top: -24px;
}

.author {
  margin-top: 10px;
  display: flex;

}

.author-info  {
  text-align: left;
}

.author-name {
  font-weight: bold;
  
}

.author-role {
  color: var(--clr-gray-600);
}

/* FAQ Section */
.faq-section {
  padding: 122px 0;
  max-width: 1200px;
  margin: 0 44px;
  display: flex;
}

.faq-info {
  width: 41.66%;
}
.faq-info h2 {
color: var(--clr-gray-900);
margin-bottom: 20px;
}

.faq-info> p {
color: var(--clr-gray-700);
margin-bottom: 20px;;
}

.faqBtn {
border-radius: 50%;
border: none;
aspect-ratio: 1;
}
.faqBtn:active {
background-color: var(--clr-primary);

}
.contact-options {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin: 30px 0;
}

.contact-box {
  padding: 20px;
  border-radius: 8px;
  border: solid 1px var(--clr-gray-300);
  text-align: start;
  width: 196px;
  height: 166px;
  
}

.contact-box-phone {
  color: var(--clr-success);
}

.contact-box-msg {
  color: purple;
}
#msg {
  color: #22C55E;
  text-decoration: none;
}

#phone {
  color: var(--clr-primary);
  text-decoration: none;
}


.faq-list {
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

.faq-item {
  margin: 15px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}



.accordion .container {
position: relative;
margin: 10px 10px;
padding: 20px;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(30, 25, 25, 0.5);
border: 1px solid #2e2e2e2d;

}
.accordion-info {
display: flex;
justify-content: space-between;
}

.accordion .label {
position: relative;
padding: 10px 0;
cursor: pointer;
}


.accordion .content {
position: relative;
overflow: hidden;
transition: 0.5s;
margin: 15px 0;
border-radius: 8px;
height: 0;
}


.accordion .container.active .content {
height: 150px;
}

.accordion .container.active .label::before {
content: '';
}

.faq-item-row1 {
display: flex;
justify-content: space-between;
}

.faq-item h4 {
  color: var(--clr-gray-900);
  margin-bottom: 10px;
}

.faq-dropdownTab-down {
background-color: var(--clr-logo-bg);
display: inline-block;
width: 36px;
height: 36px;
border-radius: 50%;
text-align: center;
align-items: center;
align-content: center;
}

.faq-dropdownTab-up {
background-color: var(--clr-primary);
display: inline-block;
width: 36px;
height: 36px;
border-radius: 50%;
text-align: center;
align-items: center;
align-content: center;
}



/* Subscribe Section */
.subscribe {
  padding: 30px;
  background-color: var(--clr-bg-100);
  border-radius: 8px;
  margin: 20px 50px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 222px;
  
}

.subscribe img {
  max-width: 100%;
  
}

#subscribe-title {
max-width: 416px;
flex-grow: 2;
}
.subscribe form {
  display: inline-block;
  margin-top: 10px;
  flex-grow: 4;
}

.subscribe input {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid var(--clr-gray-500);
  outline: none;
  border-radius: 8px;
}

.subscribe button {
  background-color: var(--clr-primary);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.license{
text-align: center;
color: var(--clr-gray-600);
font-size: 0.8rem;
}   